
.mobileBG{
    opacity: 1;
    animation-name: opacityOnandOff; 
    animation-duration: 1.5s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    
}

@keyframes opacityOnandOff{
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

        
}




.heroContentP {
    opacity: 1;
    animation-name: opacityOnandOffP; 
    animation-duration: 6.5s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    
}

@media only screen and (max-width: 480px){
    .heroContentP{
        animation-duration: 3s;
    }
}

@keyframes opacityOnandOffP{
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

        
}


