/*styling for the background images*/

.htn{
    width: 720px;
    height: 450px;       
    transition: 0.375s;

}

.uoft{
    width: 720px;
    height: 450px;
    transition: 0.375s;

}

.delta{
    width: 720px;
    height: 450px;
    transition: 0.375s;

}

.ohsea{
    width: 720px;
    height: 450px;
    transition: 0.375s;

}   


@media screen and (max-width: 1700px) {
    .htn{
        width: 585px;
        transition: 0.375s;

    }
    
    .uoft{
        width: 585px;
        transition: 0.375s;

    }
    
    .delta{
        width: 585px;
        transition: 0.375s;

    }

    .ohsea{
        width: 585px;
        transition: 0.375s;
    
    }   
    
}
    

@media screen and (max-width: 1350px) {
    .htn{
        width: 510px;
        transition: 0.375s;

    }
    
    .uoft{
        width: 510px;
        transition: 0.375s;

    }
    
    .delta{
        width: 510px;
        transition: 0.375s;
    }

    .ohsea{
        width: 510px;
        transition: 0.375s;
    
    }   
    
}

@media screen and (max-width: 1100px) {
    .htn{
        width: 480px;
        transition: 0.375s;

    }
    
    .uoft{
        width: 480px;
        transition: 0.375s;

    }
    
    .delta{
        width: 480px;
        transition: 0.375s;
    }

    .ohsea{
        width: 480px;
        transition: 0.375s;
    
    }   
    
}

@media screen and (max-width: 480px) {
    .htn{
        width: 350px;
        transition: 0.375s;

    }
    
    .uoft{
        width: 350px;
        transition: 0.375s;

    }
    
    .delta{
        width: 350px;
        transition: 0.375s;
    }

    .ohsea{
        width: 350px;
        transition: 0.375s;
    
    }   
    
}
