.bar{
    width: 200px;
    height: 200px;
    transition: 0.375s;
}

@media screen and (max-width: 1350px) {
    .bar{
        width: 175px;
        height: 175px;
        transition: 0.375s;
    }
}

@media screen and (max-width: 1100px) {
    .bar{
        width: 150px;
        height: 150px;
        transition: 0.375s;
    }
}