.tabTitleColor{
    color: black;
}

.TabSelector{
    color: black;
}

.TabPanelSelector{
    width: 460px;
}

.mobileTabsExperience{
    display: none;
}


@media only screen and (max-width: 768px){

    .mobileTabsExperience{
        display: block;
    }

    .CompleteTabsExperience{
        display: none;
    }
}

@media only screen and (max-width: 620px){
    .TabSelector{
        width: 100px;
    }

    .TabPanelSelector{
        width: 400px;
    }
}

@media only screen and (max-width: 480px){
    .TabSelector{
        width: 70px;
    }

    .TabPanelSelector{
        width: 280px;
    }
}

