.faceSad404 {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #D66A6A;
    border-radius: 50%;
    z-index: 2;
    top: 45%;
    animation: bounce404 1.2s ease-in-out infinite;
    transition: 0.375s;
}

.eye404 {
    position: absolute;
    width: 7px;
    height: 7px;
    background: white;
    border-radius: 50%;
    top: 40%;
    left: 35%;
  }

.eye.right404 {
    left: 55%;
  }


.mouth.sad404 {
    border: 2px solid;
    border-color: transparent white white transparent;
    transform: rotate(225deg);
    top: 52%;
    left: 44.5%;
}

.shadow404 {
  position: absolute;
  width: 8.5rem;
  height: 3%;
  opacity: .5;
  background: #777777;
  top: 56.5%;
  border-radius: 50%;
  z-index: 1;
  transition: 0.375s;


}

.scale404 {
  animation: scale404 1.2s ease-in infinite;
}

@keyframes scale404 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes bounce404 {
  50% {
     transform: translateY(-10px);
  }
}

/*
@keyframes roll {
    0% {
      transform: rotate(0deg);
      left: 25%;
    }
    50% {
      left: 60%;
      transform: rotate(168deg);
    }

    100% {
      transform: rotate(0deg);
      left: 25%;
    }
}

.move404 {
  animation: move404 6s ease-in-out infinite;
}

@keyframes move404 {
    0% {
      left: 25%;
    }
    50% {
      left: 60%;
    }
    100% {
      left: 25%;
    }
  }
*/



@media screen and (max-width: 768px){
  .faceSad404 {
    transition: 0.375s;
    width: 80px;
    height: 80px;

  }

  .shadow404 {
    transition: 0.375s;
    top: 53.5%;
    width: 6.5rem;
  }

}

@media screen and (max-width: 480px){
  .shadow404 {
    transition: 0.375s;
    top: 58.5%;
  }

}
