.card{
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    max-height: 400px; 
    width: 300px;
    height: 300px;
    padding: 50px; 
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.02); 
    transition: all 0.2s ease-in-out;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.8; 
    border-radius: 30px;
}

.card:hover .overlay{
    height: 100%;
}

.text{

    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    padding: 0;
    margin: 0;
    width: 80%;
    font-size: 18px;
}

.title{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    opacity: 1;
    text-transform: uppercase;

}

/*webkit and ms means versions it is compatible with*/