/*clipboard styles*/
.scale:hover{
    scale: 1.1;
    transition: 0.3s ease;
}

.copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100px;
    position: absolute;
    right: 0;
}

.bubble {
	height: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: bold;
	width: 100px;
	background: white;
	display: flex;
    color: black;
	margin: 0 auto;
	border-radius: 20px;
	margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.pointer {
	height: 10px;
	width: 10px;
	background: white;
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 12px 0;
	margin-top: -25px;
	position: relative;
}


/*Audio styles*/
.rm-audio-player-provider{
    margin-bottom: 1rem;
    position: relative;
    --rm-audio-player-interface-container: #4F457A;
    --rm-audio-player-progress-bar: white;
    --rm-audio-player-progress-bar-background:#897CBF;
    --rm-audio-player-theme-default: white;

}


.albumCover{
    position: relative;
    bottom: 0.4rem;
    width: 300px;
    height: 300px;
    transition: 0.375s;
}

@media screen and (max-width: 1700px) {
    .albumCover{
        position: relative;
        bottom: 0.2rem;
        width: 280px;
        height: 280px;
        transition: 0.375s;

    }
}
    

@media screen and (max-width: 1350px) {
    .albumCover{
        position: relative;
        bottom: 0rem;
        width: 180px;
        height: 275px;
        transition: 0.375s;

    }
}

@media screen and (max-width: 480px) {
    .albumCover{
        width: 140px;
        height: 235px;
        transition: 0.375s;

    }
}


